extends layout

block content
  .single-present-wrapper
    .row
      .col-md-8.col-md-offset-2.col-md-offset-2.col-lg-4.col-lg-offset-4.col-lg-offset-4.user-profile
        img.img-circle.user-profile-image(src='#{present.user.dp}', alt='#{present.user.name}')
        h4.user-name #{present.user.name}
        p.time-ago &nbsp;captured this #{moment(present.created).fromNow()}
    .row
      .col-md-8.col-md-offset-2.col-md-offset-2.col-lg-4.col-lg-offset-4.col-lg-offset-4
        .video-content-wrapper
          video(poster="#{present.video.cover}" preload="auto" controls="controls" id="present-video")
            source(src="#{present.video.url}")
    .row
      .col-md-8.col-md-offset-2.col-md-offset-2.col-lg-4.col-lg-offset-4.col-lg-offset-4
        h3.present-title #{present.title}   
    .row
       .col-md-8.col-md-offset-2.col-md-offset-2.col-lg-4.col-lg-offset-4.col-lg-offset-4.meta-info
        p
          span#like-count #{present.likes}
          | &nbsp; Likes and &nbsp;
          span#comment-count #{present.comments}
          | &nbsp; Comments
